<div class="tokenly-component component-card-token-item">
	<div class="overlay">
		<div>More information</div>
	</div>
	<div class="token-image">
		<div class="image-container">
			{{ image | raw }}
		</div>
	</div>
	<div class="token-info">
		<div class="token-name" title="{{ asset }}">{{ name }}</div>
		<div class="token-description">{{ description }}</div>
		<div class="token-balance-container"><span class="token-balance-label">Total: </span><span class="token-balance">{{ balance }}</span></div>
	</div>
	<div class='extra-container'>
		<ul>
			{% for extra_item in extra %}
				<li>{{ extra_item.key }}: {{ extra_item.value }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
