{% macro login_button_component( logo, label, url, namespace ) %}
	{% from 'components/LoaderComponent.twig' import loader_component %}
	<div class="{{ namespace }}-login login-container">
		<a href="{{ url }}" class="{{ namespace }}-component-button with-icon with-loader">
			{{ loader_component( namespace, "medium", "light" ) }}
			<span class='icon'>{{ logo | raw }}</span>
			<span class='title'>{{ label }}</span>
		</a>
	</div>
{% endmacro %}
