{% extends "Index.twig" %}
{% block content %}
	<div class="tokenly-access-denied">
		<h1>Access Denied</h1>
		<div class="note">{{ props.verdict.note }}</div>
		{% if props.verdict.reports %}
			<div class="rule-groups">
				{% for key, rule_group in props.rule_groups %}
					<div class="rule-group">
						<div class="rules">
							{% for key, rule in rule_group %}
								<div class="rule">
									<div class="attributes" >
										{% if key > 0 %}
											<div class="group-operator">{{ rule.stack_op }}</div>
										{% endif %}
										<div class="expression">
											<span class="asset">{{ rule.asset }}</span>
											<span class="op">{{ rule.op }}</span>
											<span class="quantity">{{ rule.quantity }}</span>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="status {{verdict.reports[key] | lower}}">{{ props.verdict.reports[key] }}</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if props.verdict.status_code == -1 %}
			<a href="{{props.login_url}}" class="tokenly-component-button back-button tokenly-denied-login-button">Login</a>
		{% else %}
			<a href="{{props.back_url}}" class="tokenly-component-button back-button">Return</a>
		{% endif %}

	</div>
{% endblock %}
