{% from 'components/LoaderComponent.twig' import loader_component %}
<span class="{{ namespace }}-credit-balance" data-group="{{ group }}" data-user="{{ user }}">
	<span class="value">{{ balance }}</span>
	{{ loader_component( namespace, true ) }}
</span>
