{% macro item_card_component( name, balance, style = "grid" ) %}
	<div class="tokenly-component component-card-credit-item style-{{ style }}">
		<div class="item-content">
			{% if style == "grid" %}
			<div class="info-container">
				<div class="name" title="{{ name }}">{{ name }}</div>
				<div class="balance-container">
					<span class="label">Total: </span>
					<span class="amount">{{ balance }}</span>
				</div>
			</div>
			{% endif %}
			{% if style == "list" %}
			<div class="name" title="{{ name }}">{{ name }}</div>
			<div class="balance-container">
				<span class="label">Total: </span>
				<span class="amount">{{ balance }}</span>
			</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}
